In [2]:
print("hello world!")

hello world!

In [4]:
 True

True

# Tipos de dados

### String

In [7]:
'esse é um texto do tipo string de aspas simples.'
"esse é um texto do tipo string de asplas duplas."
'''esse é um texto do tipo string de aspas triplas simples.'''
"""esse é um texto do tipo string de aspas triplas duplas."""

'esse é um texto do tipo string de aspas triplas duplas.'

### Casos especiais das strings

ESCAPE CHARACTER

In [9]:
"\"don't look at me\"" # invisible characters -> " \" Texto \" "

'"don\'t look at me"'

In [18]:
print("\"don't look at me\"")

"don't look at me"

In [19]:
print("Olá mundo.\nMeu nome é Thiago")

Olá mundo.
Meu nome é Thiago

## Desafio 1: Em duas linhas imprima boas vindas ao usuário

In [25]:
# solução 1

entrada_do_usuário = input("Digite seu nome e sua idade: ").split()

print(f"Seja bem vindo(a) { entrada_do_usuário[0]}!\nVocê tem {entrada_do_usuário[1]} anos de idade.")

Digite seu nome e sua idade: Thiago 18
Seja bem vindo(a) Thiago!
Você tem 18 anos de idade.

In [41]:
# solução 2

nome, idade = input("Digite seu nome e sua idade: ").split()

print(f"Olá {nome}.\nVocê tem {idade} anos.")

Digite seu nome e sua idade: Thiago 18
Olá Thiago.
Você tem 18 anos.

### Split

In [43]:
"nome,idade,cpf,email,telefone".split(",")

['nome', 'idade', 'cpf', 'email', 'telefone']

### Manipulando Strings/Texto

In [46]:
estados = """
COD,NOME,SIGLA
35,São Paulo, SP
41,Paraná, PR
42,Santa Catarina, SC
43,Rio Grande do Sul, RS
50,Mato Grosso do Sul, MS
11,Rondônia, RO
12,Acre, AC
13,Amazonas, AM
14,Roraima, RR
15,Pará, PA
16,Amapá, AP
17,Tocantins, TO
21,Maranhão, MA
24,Rio Grande do Norte, RN
25,Paraíba, PB
26,Pernambuco, PE
27,Alagoas, AL
28,Sergipe, SE
29,Bahia, BA
31,Minas Gerais, MG
33,Rio de Janeiro, RJ
51,Mato Grosso, MT
52,Goiás, GO
53,Distrito Federal, DF
22,Piauí, PI
23,Ceará, CE
32,Espírito Santo, ES
"""
print(estados)

COD,NOME,SIGLA
35,São Paulo, SP
41,Paraná, PR
42,Santa Catarina, SC
43,Rio Grande do Sul, RS
50,Mato Grosso do Sul, MS
11,Rondônia, RO
12,Acre, AC
13,Amazonas, AM
14,Roraima, RR
15,Pará, PA
16,Amapá, AP
17,Tocantins, TO
21,Maranhão, MA
24,Rio Grande do Norte, RN
25,Paraíba, PB
26,Pernambuco, PE
27,Alagoas, AL
28,Sergipe, SE
29,Bahia, BA
31,Minas Gerais, MG
33,Rio de Janeiro, RJ
51,Mato Grosso, MT
52,Goiás, GO
53,Distrito Federal, DF
22,Piauí, PI
23,Ceará, CE
32,Espírito Santo, ES

In [49]:
estados.split()

['COD,NOME,SIGLA',
 '35,São',
 'Paulo,',
 'SP',
 '41,Paraná,',
 'PR',
 '42,Santa',
 'Catarina,',
 'SC',
 '43,Rio',
 'Grande',
 'do',
 'Sul,',
 'RS',
 '50,Mato',
 'Grosso',
 'do',
 'Sul,',
 'MS',
 '11,Rondônia,',
 'RO',
 '12,Acre,',
 'AC',
 '13,Amazonas,',
 'AM',
 '14,Roraima,',
 'RR',
 '15,Pará,',
 'PA',
 '16,Amapá,',
 'AP',
 '17,Tocantins,',
 'TO',
 '21,Maranhão,',
 'MA',
 '24,Rio',
 'Grande',
 'do',
 'Norte,',
 'RN',
 '25,Paraíba,',
 'PB',
 '26,Pernambuco,',
 'PE',
 '27,Alagoas,',
 'AL',
 '28,Sergipe,',
 'SE',
 '29,Bahia,',
 'BA',
 '31,Minas',
 'Gerais,',
 'MG',
 '33,Rio',
 'de',
 'Janeiro,',
 'RJ',
 '51,Mato',
 'Grosso,',
 'MT',
 '52,Goiás,',
 'GO',
 '53,Distrito',
 'Federal,',
 'DF',
 '22,Piauí,',
 'PI',
 '23,Ceará,',
 'CE',
 '32,Espírito',
 'Santo,',
 'ES']

In [52]:
estados.split("\n")

['',
 'COD,NOME,SIGLA',
 '35,São Paulo, SP',
 '41,Paraná, PR',
 '42,Santa Catarina, SC',
 '43,Rio Grande do Sul, RS',
 '50,Mato Grosso do Sul, MS',
 '11,Rondônia, RO',
 '12,Acre, AC',
 '13,Amazonas, AM',
 '14,Roraima, RR',
 '15,Pará, PA',
 '16,Amapá, AP',
 '17,Tocantins, TO',
 '21,Maranhão, MA',
 '24,Rio Grande do Norte, RN',
 '25,Paraíba, PB',
 '26,Pernambuco, PE',
 '27,Alagoas, AL',
 '28,Sergipe, SE',
 '29,Bahia, BA',
 '31,Minas Gerais, MG',
 '33,Rio de Janeiro, RJ',
 '51,Mato Grosso, MT',
 '52,Goiás, GO',
 '53,Distrito Federal, DF',
 '22,Piauí, PI',
 '23,Ceará, CE',
 '32,Espírito Santo, ES',
 '']

In [75]:
alunos = [
    "pablo",
    "nicolas a.",
    "raquel",
    "patrick",
    "lucas",
    "rafael",
    "rodolpho",
    "natali",
    "victor",
    "thiago",
    "roberval",
    "vinicius",
    "marcos",
    "rodrigo",
    "renan",
    "nicolas f.",
    "thalith",
    "watuse",
    "victoria"
]

In [77]:
import random

alunos.pop(alunos.index(random.choice(alunos)))

'thiago'

# Requisitos para ser um DEV de respeito

* Python: lógica de programação, portifólio, projetos e softwares criados(que resolvam problemas úteis)
* Banco de dados: CSV, SQL: Sqlite3, Postgres, MySQL
* Bibliotecas: Web (Flask, FastAPI, "DJANGO eu não recomendo), DS (pandas, numpy, tensor flow, spark)
* Processos/programação em nuvem: GCP, AWS, Heroku. (https://www.youtube.com/watch?v=TLRW_xTnQwY&t=1091s)

### Outros tipos de string/texto

* r"raw string"  -> texto seco, cru, literal
* b"encoded text" -> texto binarizado, encodado

### Listas - Mutáveis

In [129]:
frutas = ["tomate","maçã","morango","banana","pêra","pêssego","bergamota"]
frutas [-1]

'bergamota'

In [143]:
nome, sobrenome = input("Digite seu nome e sobrenome: ").split()

print(nome[0]+sobrenome[0])

Digite seu nome e sobrenome: Thiago Braz
TB

In [5]:
nome, sobrenome = input("Digite seu nome e sobrenome: ").split()

print(nome[0],sobrenome[0],sep = ".")

Digite seu nome e sobrenome: as as
a.a

In [3]:
nome, sobrenome = input("Digite seu nome e sobrenome: ").split()

print(f"{nome[0]}{sobrenome[0]}")

Digite seu nome e sobrenome: T aA
Ta

# Funções

### Criando funções próprias

* Função dummy

In [2]:
# criação de função

def minha_funcao ():
   ... #pass

# chamada de função
minha_funcao()

In [7]:
# parâmetro padrão = variável

def func2(parametro1="", parametro2=""):
    return  parametro1 + parametro2
    
valor = func2(1,2)

3

In [11]:
# parâmetro obrigatório
def func3(parametro1,parametro2):
    soma=parametro1+parametro2
    return soma

valor = func3(2,1)
print(valor)

3